// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Variables
$black: #333333;
$primary: #f55d52;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes
$colors: (
  "primary": (
    $primary,
    $primary-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Headers
@mixin h1 {
  font-family: "Heebo", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

@mixin h2 {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

// Components
@mixin container {
  padding: 0px 15px;

  @media screen and (min-width: 992px) {
    width: 800px;
    padding: 0px 30px;
    margin: 0 auto;
  }
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
