// Variables
$black: #333333;

// Headers
@mixin h1 {
  font-family: "Heebo", sans-serif;
}

@mixin container {
  padding: 0px 15px;

  @media screen and (min-width: 992px) {
    width: 800px;
    padding: 0px 30px;
    margin: 0 auto;
  }
}
